
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/admin.cshtml";
}
<style>
    .dash{

        min-height:200px;
        box-shadow:0px 0px 50px grey;
        /*line-height:200px;*/
        padding-top:10%;
    }

</style>
<div class="row">
    <div class="text-center fs-2">Deshboard Box<b class="text-warning"><i class="fa-solid fa-bars"></i></b></div>
    <div class="col-sm-10 mx-auto">
        <div class="row my-4">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <p class="bg-light text-center dash">
                    <i class="fa-solid fa-list"></i><br />
                    Category Managment
                </p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <p class="bg-light text-center dash">
                    <i class="fa-solid fa-list"></i><br />
                    Product Managment
                </p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <p class="bg-light text-center dash">
                    <i class="fa-solid fa-list"></i><br />
                    User Managment
                </p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <p class="bg-light text-center dash">
                    <i class="fa-solid fa-list"></i><br />
                    Batch Managment
                </p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <p class="bg-light text-center dash">
                    <i class="fa-solid fa-list"></i><br />
                    Change Managment
                </p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <p class="bg-light text-center dash">
                    <i class="fa-solid fa-list"></i><br />
                    Class Managment
                </p>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12">
                <p class="bg-light text-center dash">
                    <i class="fa-solid fa-list"></i><br />
                    Video Managment
                </p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <p class="bg-light text-center dash">
                    <i class="fa-solid fa-list"></i><br />
                    Audio Managment
                </p>
            </div>

        </div>
    </div>

</div>
