
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/general.cshtml";
}


<div class="row p-3">

    <div class="col-sm-4">
        <div class="card p-3" style=" width: 18rem;">
            <img src="~/Content/image/thar2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-text text-center">KHURSHED ALAM</h5>
                <h6 class="card-text text-center">GPAT GONDA (2230)</h6>
                <h6 class="card-text text-center">CS(Diploma)</h6>

            </div>
        </div>
    </div>
    <div class="col-sm-7">
        <div class="card">
            <div class="card-body">


                <p class="card-text fs-6 "><b class="text-danger">NAME:</b>&nbsp;KHURSHED ALAM</p>
                <p class="card-text fs-6"><b class="text-danger">FATHER NAME:</b>&nbsp;MR. SHAUKAT ALI</p>
                <p class="card-text fs-6"><b class="text-danger">MOTHER NAME:</b>&nbsp;MRS. KULJAHAN KHATOON</p>
                <p class="card-text fs-6"><b class="text-danger">ADDRESS:</b>&nbsp;JUNGALE SISWA BAJAR POST PACHRUKHIYA DIST.KUSHINAGAR PIN CODE 274303 (UP)</p>
                <p class="card-text fs-6"><b class="text-danger">MOBILE NUMBER:</b>&nbsp;GPAT GONDA 271401</p>
                <p class="card-text fs-6"><b class="text-danger">COLLEGE NAME:</b>&nbsp;+91, 8174955112</p>
                <p class="card-text fs-6"><b class="text-danger">BRANCH NAME:</b>&nbsp;COMPUTER SCIENCE AND ENGINEERING</p>
                <p class="card-text fs-6"><b class="text-danger">TECHNOLOGY NAME:</b>&nbsp;ASP.NET WIDTH MVC</p>
                <p class="card-text fs-6"><b class="text-danger">COMPANY NAME:</b>&nbsp;TECHPILE TECHNOLOGY PVT LTD LUCKNOW</p>
                <p class="card-text fs-6">&nbsp;TECHPILE TECHNOLOGY PVT LTD LUCKNOW</p>


            </div>
        </div>
    </div>
</div>

<div class="row p-5">
    <h3 class="text-center text-danger">INTRODUCTION OF TECHPILE TECHNOLOGY PVT LTD</h3><br />
    <div class="col-sm-7 mt-3">
        <img src="~/Content/image/Techpile_logo1.jpg" style="height:400px;width:750px;" />
    </div>
    <div class="col-sm-4 mt-3">
        <h6>
            Techpile Software training program is designed to polish the knowledge of students and make them fit for the market.
            Most important step to take when preparing for a career in software design is learning how to make program that works.
            Techpile training is exactly for that.
        </h6>
        <h6>Techpile offers you an appreciated training program with an objective to enhance the knowledge of the students on different 
        cutting edge technologies for the B.Tech (CS/IT),BCA,MCA students. 
        Techpile offers an amazing Vocational Training program to make you expert in your field, which is a live project based training.</h6>
        <h6>All I can say Techpile is the best training institute for software developers & programmers in Lucknow. 
        During my training Techpile gives all those facilities which is required to be a Skilled Software Developer. 
        The best thing I experienced here Rahul Sir & Divya Maa'm are very familiar to students. I have been selected as a .</h6>
    </div>


</div>
