
@{
    ViewBag.Title = "Facility";
    Layout = "~/Views/Shared/general.cshtml";
}

<div class="row">
    <div class="col-sm-8 p-3">
        <!--Start Slider-->

        <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>

            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="1000">
                    <img src="~/Content/image/govt.gonda.jpg" class="d-block w-100 rounded rounded-4" alt="..." style="height:330px;">
                </div>
                <div class="carousel-item" data-bs-interval="1000">
                    <img src="~/Content/image/my_college.jpg" class="d-block w-100 rounded rounded-4" alt="..." style="height:330px;">
                </div>


            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>


        <!--End Slider-->
    </div>

    <!--Card Start-->

    <div class="card mt-3" style="width:15rem;height:330px;">
        <div class="card-body">
            <a href="#"><h5 class="card-title text-center" style="color:silver;">NOTIFICATIONS</h5></a>

            <marquee direction="up"><h6 class="card-title" style="color:darkred;height:250px;">No New Notifications</h6></marquee>
        </div>
    </div>

    <div class="card mt-3" style=" width:15rem;height:330px;">
        <div class="card-body">

            <a href="#"><h5 class="card-title text-center" style="color:silver;">IMPORTANT LINKS</h5></a>

            <marquee direction="up">
                <p class="card-title" style="color:darkred;;">AICTE FEEDBACK</p>
                <p class="card-title" style="color:darkred;">ADMISSION AND FEE REGULATORY COMMITTEE</p>                 <p class="card-title" style=" color:darkred;">UP SCHOLARSHIP</p>
                <p class="card-title" style="color:darkred;">NEW STUDENTS REGISTRATION</p>
            </marquee>


        </div>
    </div>

    <!--Card End-->
</div>

<div class="row p-3">

    <div class="col-sm-4">
        <div class="card p-3" style=" width: 18rem;">
            <img src="~/Content/image/Principal_sir.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-text text-center">Mr. RAJ NARAIN DUBEY</h5>
                <p class="card-text text-center" style="color:silver;font-weight:bold;">PRINCIPAL</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">

                <a href="#"><h2 class="card-title">Abouts Us</h2></a>
                <p class="card-text">Government Polytechnic,Aadampur, Tarabganj,Gonda is established in 2013 with the assistance of central Government & the guidance of U.P. Government with the aim of developing rural area & inculcating technical skill in the youth to accept global challenges.Currently three courses Mechanical(production), Mechanical(Auto),Computer science& Engg. are running  with in-campus Boys and girls hostels.</p>
                <a href="#" class="btn btn-primary">Go To</a>
            </div>
        </div>
    </div>
</div>

<!--Start card of Image-->

<h1 class="text-center">Faculty</h1>
<h1 class="text-center">Success Teacher(2017-23)</h1>
<div class="row p-3">
    <div class="col-sm-3">
        <div class="card p-3" style=" width: 18rem;">
            <img src="~/Content/image/upendra_sir.jpg" class="card-img-top" alt="..." style="height:200px;border-radius:50%;">
            <div class="card-body">
                <h5 class="card-text text-center">Mr. Upendra Singh</h5>
                <p class="card-text text-center" style="color:silver;font-weight:bold;">Lecturer</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card p-3" style=" width: 18rem;">
            <img src="~/Content/image/rahul_sir_gonda.jpeg" class="card-img-top" alt="..." style="height:200px;border-radius:50%;">
            <div class="card-body">
                <h5 class="card-text text-center">Mr. Rahul Singh</h5>
                <p class="card-text text-center" style="color:silver;font-weight:bold;">Lecturer</p>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card p-3" style=" width: 18rem;">
            <img src="~/Content/image/satish_sir.jpg" class="card-img-top" alt="..." style="height:200px;border-radius:50%;">
            <div class="card-body">
                <h5 class="card-text text-center">Mr. Satish Namdav</h5>
                <p class="card-text text-center" style="color:silver;font-weight:bold;">Lecturer</p>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card p-3" style=" width: 18rem;">
            <img src="~/Content/image/Gopi_sir.jpg" class="card-img-top" alt="..." style="height:200px;border-radius:50%;">
            <div class="card-body">
                <h5 class="card-text text-center">Mr. Gopi Krishna Yadav</h5>
                <p class="card-text text-center" style="color:silver;font-weight:bold;">Lecturer</p>
            </div>
        </div>
    </div>






</div>







<!--End card of Image-->
