
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/general.cshtml";
}

<style>
    /*.outer {
        min-height: 500px;
        width: 1450px;
        background: #9892d3;
    }*/




</style>



<div class="row">
    <div class="col-sm-8 p-3">
        <!--Start Slider-->

        <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>

            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="1000">
                    <img src="~/Content/image/L7.jpg" class="d-block w-100 rounded rounded-4" alt="..." style="min-height:350px;">
                </div>
                <div class="carousel-item" data-bs-interval="1000">
                    <img src="~/Content/image/L10.jpg" class="d-block w-100 rounded rounded-4" alt="..." style="height:530px;">
                </div>
                <div class="carousel-item" data-bs-interval="1000">
                    <img src="~/Content/image/L8.jpg" class="d-block w-100 rounded rounded-4" alt="..." style="height:530px;">
                </div>
                <div class="carousel-item" data-bs-interval="1000">
                    <img src="~/Content/image/L9.jpg" class="d-block w-100 rounded rounded-4" alt="..." style="height:530px;">
                </div>

                <div class="carousel-item" data-bs-interval="1000">
                    <img src="~/Content/image/L12.jpg" class="d-block w-100 rounded rounded-4" alt="..." style="height:530px;">
                </div>

                <div class="carousel-item" data-bs-interval="1000">
                    <img src="~/Content/image/L11.jpg" class="d-block w-100 rounded rounded-4" alt="..." style="height:530px;">
                </div>
                <div class="carousel-item" data-bs-interval="1000">
                    <img src="~/Content/image/L3.jpg" class="d-block w-100 rounded rounded-4" alt="..." style=" min-height:350px;">
                </div>


            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>


        <!--End Slider-->
    </div>
    <div class="col-sm-4 p-3">
        <marquee direction="down" behavior="alternate" onmouseover="stop()" height="530px" onmouseleave="start()">
            <!--offer Card-->
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="~/Content/image/B1.jpg" class="img-fluid rounded-start" alt="..." style="height:150px;">
                    </div>
                    <div class="col-md-4 p-2">
                        <div class="card-body">
                            <h5 class="card-title txt-mycolor">Offer Books </h5>
                            <p>50% OFF</p>
                            @*<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>*@
                            @*<p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>*@
                        </div>
                    </div>
                </div>
            </div>
            <!--End card-->
            <!--offer Card2-->
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="~/Content/image/B2.jpg" class="img-fluid rounded-start" alt="..." style=" height:150px;">
                    </div>
                    <div class="col-md-4 p-2">
                        <div class="card-body">
                            <h5 class="card-title">Offer Books </h5>
                            <p>70% OFF</p>
                            @*<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>*@
                            @*<p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>*@
                        </div>
                    </div>
                </div>
            </div>
            <!--End card-->
            <!--offer Carfd3-->
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="~/Content/image/B5.jpeg" class="img-fluid rounded-start" alt="..." style="height:150px;">
                    </div>

                    <div class="col-md-4 p-2">
                        <div class="card-body">
                            <h5 class="card-title txt-mycolor">Offer Books</h5>
                            <p>40% OFF</p>

                            @*<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>*@
                            @*<p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>*@
                        </div>
                    </div>
                </div>
            </div>
            <!--End card-->
        </marquee>
    </div>
</div>

<!--Star Success Teacher-->

<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <h1 class="text-center txt-mycolor mt-4">Our Instructor</h1>
    </div>
    <div class="col-sm-3"></div>
</div>
<div class="row  py-3 " style="min-height: 500px; background-color: #dedcf1;">
    <h2 style="margin-left:400px;">Successful Career Transitions To Inspire You</h2>
    <div class="col-lg-1 col-md-1 col-sm-1"></div>
    <div class="col-lg-1 col-md-3 col-sm-6 mt-5" style="min-width:300px;">
        <div class="card" style="height:400px;">
            <div class="card-body text-center">
                <img src="~/Content/image/APJ_Abdul_Kalam.jpg" style="height:100px;width:100px;border-radius:50px;" />
                <h5 style=" color:silver;margin-top:20px;">Dr. APJ Abdul Kalam</h5>
                <p style="color:silver;margin-top:10px;">Missile Main of India</p>
                <h1 style="color:#7732d5;margin-top:-25px;">&darr;</h1>
                <p style=" color:silver;margin-top:10px;">Dr.APJ Abdul Kalam  Technical University Lucknow</p>
                <h1 style=" color:#7732d5;margin-top:-25px;">&darr;</h1>
            </div>
            <a href="#"><buttom class="btn btn-success" style="margin-top:-50px;margin-left:10px;">Join to View Profile</buttom></a>
        </div>
    </div>

    <div class="col-lg-1 col-md-3 col-sm-6 mt-5" style=" min-width:300px;">
        <div class="card" style=" height:400px;">
            <div class="card-body text-center">
                <img src="~/Content/image/Principal_sir.jpg" style=" height:100px;width:100px;border-radius:50px;" />
                <h5 style=" color:silver;margin-top:20px;">Mr. Raj Narain Dubey</h5>
                <p style=" color:silver;margin-top:10px;">Govt. Polytechnic Adampur Tarabaganj Gonda (2230)</p>
                <h1 style="color:#7732d5;margin-top:-25px;">&darr;</h1>
                <p style="color:silver;margin-top:-10px;">Principal</p>
                <h1 style=" color:#7732d5;margin-top:-25px;">&darr;</h1>
            </div>
            <a href="#"><buttom class="btn btn-success" style=" margin-top:-50px;margin-left:10px;">Join to View Profile</buttom></a>
        </div>
    </div>

    <div class="col-lg-1 col-md-3 col-sm-6 mt-5" style=" min-width:300px;">
        <div class="card" style=" height:400px;">
            <div class="card-body text-center">
                <img src="~/Content/image/rahul_sir.jpeg" style=" height:100px;width:100px;border-radius:50px;" />
                <h5 style="color:silver;margin-top:20px;">Mr. Rahul Soni</h5>
                <p style=" color:silver;margin-top:10px;">Founder of Techpile Technology PVT. LTD. Lucknow</p>
                <h1 style="color: #7732d5;margin-top:-25px;">&darr;</h1>
                <p style="color:silver;margin-top:-10px;">Software Developer</p>
                <h1 style="color:#7732d5;margin-top:-25px;">&darr;</h1>
            </div>
            <a href="#"><buttom class="btn btn-success" style="margin-top:-50px;margin-left:10px;">Join to View Profile</buttom></a>
        </div>
    </div>
    <div class="col-lg-1 col-md-3 col-sm-6 mt-5" style="min-width:300px;">
        <div class="card" style=" height:400px;">
            <div class="card-body text-center">
                <img src="~/Content/image/divya_mam.jpeg" style="height:100px;width:100px;border-radius:50px;" />
                <h5 style=" color:silver;margin-top:20px;">Miss. Divya Rai</h5>
                <p style="color:silver;margin-top:10px;">Project Manager at Techpile Technology PVT. LTD. Lucknow</p>
                <h1 style="color:#7732d5;margin-top:-25px;">&darr;</h1>
                <p style=" color:silver;margin-top:-10px;">Software Developer</p>
                <h1 style=" color:#7732d5;margin-top:-25px;">&darr;</h1>
            </div>
            <a href="~/home/JoinProfile"><buttom class="btn btn-success" style="margin-top:-50px;margin-left:10px;">Join to View Profile</buttom></a>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1"></div>
        <div class="col-lg-1 col-md-3 col-sm-6 mt-5" style="min-width:300px;">
            <div class="card" style=" height:400px;">
                <div class="card-body text-center">

                    <img src="~/Content/image/rahul_sir_gonda.jpeg" style=" height:100px;width:100px;border-radius:50px;" />
                    <h5 style=" color:silver;margin-top:20px;">Mr. Rahul Singh</h5>
                    <p style=" color:silver;margin-top:10px;">Govt. Polytechnic Adampur Tarabaganj Gonda (2230)</p>
                    <h1 style="color:#7732d5;margin-top:-25px;">&darr;</h1>
                    <p style="color:silver;margin-top:-10px;">OS & C Language(Lecturer)</p>
                    <h1 style=" color:#7732d5;margin-top:-25px;">&darr;</h1>
                </div>
                <a href="~/home/JoinProfileKA"><buttom class="btn btn-success" style=" margin-top:-50px;margin-left:10px;">Join to View Profile</buttom></a>
            </div>
        </div>

        <div class="col-lg-1 col-md-3 col-sm-6 mt-5" style="min-width:300px;">
            <div class="card" style=" height:400px;">
                <div class="card-body text-center">
                    <img src="~/Content/image/upendra_sir.jpg" style=" height:100px;width:100px;border-radius:50px;" />
                    <h5 style=" color:silver;margin-top:20px;">Mr. Upendra Singh</h5>
                    <p style=" color:silver;margin-top:10px;">Govt. Polytechnic Adampur Tarabaganj Gonda (2230)</p>
                    <h1 style="color:#7732d5;margin-top:-25px;">&darr;</h1>
                    <p style="color:silver;margin-top:-10px;">Python,DBMS &CAHM (Lecturer)</p>
                    <h1 style=" color:#7732d5;margin-top:-25px;">&darr;</h1>
                </div>
                <a href="~/home/JoinProfileKA"><buttom class="btn btn-success" style=" margin-top:-50px;margin-left:10px;">Join to View Profile</buttom></a>
            </div>
        </div>
        <div class="col-lg-1 col-md-3 col-sm-6 mt-5" style="min-width:300px;">
            <div class="card" style=" height:400px;">
                <div class="card-body text-center">
                    <img src="~/Content/image/Gopi_sir.jpg" style=" height:100px;width:100px;border-radius:50px;" />
                    <h5 style=" color:silver;margin-top:20px;">Mr.Gopi Krishna Yadav</h5>
                    <p style=" color:silver;margin-top:10px;">Govt. Polytechnic Adampur Tarabaganj Gonda (2230)</p>
                    <h1 style="color:#7732d5;margin-top:-25px;">&darr;</h1>
                    <p style="color:silver;margin-top:-10px;">DCCN & E-Commerce(Lecturer)</p>
                    <h1 style=" color:#7732d5;margin-top:-25px;">&darr;</h1>
                </div>
                <a href="~/home/JoinProfileKA"><buttom class="btn btn-success" style=" margin-top:-50px;margin-left:10px;">Join to View Profile</buttom></a>
            </div>
        </div>
        <div class="col-lg-1 col-md-3 col-sm-6 mt-5" style="min-width:300px;">
            <div class="card" style=" height:400px;">
                <div class="card-body text-center">
                    <img src="~/Content/image/supiraya_mam.jpg" style=" height:100px;width:100px;border-radius:50px;" />
                    <h5 style=" color:silver;margin-top:20px;">Miss. Supriya Singh</h5>
                    <p style=" color:silver;margin-top:10px;">Govt. Polytechnic Adampur Tarabaganj Gonda (2230)</p>
                    <h1 style="color:#7732d5;margin-top:-25px;">&darr;</h1>
                    <p style=" color:silver;margin-top:-10px;">Java With Andriod(Lecturer)</p>

                    <h1 style=" color:#7732d5;margin-top:-25px;">&darr;</h1>
                </div>
                <a href="~/home/JoinProfileKA"><buttom class="btn btn-success" style=" margin-top:-50px;margin-left:10px;">Join to View Profile</buttom></a>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1"></div>
        <div class="col-lg-1 col-md-3 col-sm-6 mt-5" style="min-width:300px;">
            <div class="card" style=" height:400px;">
                <div class="card-body text-center">
                    <img src="~/Content/image/User.jpg" style=" height:100px;width:100px;border-radius:50px;" />
                    <h5 style=" color:silver;margin-top:20px;">Mr. Ravi Asthana  </h5>
                    <p style=" color:silver;margin-top:10px;">Govt. Polytechnic Adampur Tarabaganj Gonda (2230)</p>
                    <h1 style="color:#7732d5;margin-top:-25px;">&darr;</h1>
                    <p style=" color:silver;margin-top:-10px;">IOT and MPW(Lecturer)</p>

                    <h1 style=" color:#7732d5;margin-top:-25px;">&darr;</h1>
                </div>
                <a href="#"><buttom class="btn btn-success" style=" margin-top:-50px;margin-left:10px;">Join to View Profile</buttom></a>
            </div>
        </div>


        <div class="col-lg-1 col-md-3 col-sm-6 mt-5" style="min-width:300px;">
            <div class="card" style=" height:400px;">
                <div class="card-body text-center">
                    <img src="~/Content/image/satish_sir.jpg" style=" height:100px;width:100px;border-radius:50px;" />
                    <h5 style=" color:silver;margin-top:20px;">Mr. Satish Namdav</h5>
                    <p style=" color:silver;margin-top:10px;">Govt. Polytechnic Adampur Tarabaganj Gonda (2230)</p>
                    <h1 style="color:#7732d5;margin-top:-25px;">&darr;</h1>
                    <p style="color:silver;margin-top:-10px;">Autocad(Lecturer)</p>
                    <h1 style=" color:#7732d5;margin-top:-25px;">&darr;</h1>
                </div>
                <a href="#"><buttom class="btn btn-success" style=" margin-top:-50px;margin-left:10px;">Join to View Profile</buttom></a>
            </div>
        </div>
        <div class="col-lg-1 col-md-3 col-sm-6 mt-5" style="min-width:300px;">
            <div class="card" style=" height:400px;">
                <div class="card-body text-center">
                    <img src="~/Content/image/Verma_sir.jpg" style=" height:100px;width:100px;border-radius:50px;" />
                    <h5 style=" color:silver;margin-top:20px;">Dr.Satyandra Kumar Verma</h5>
                    <p style=" color:silver;margin-top:10px;">Govt. Polytechnic Adampur Tarabaganj Gonda (2230)</p>
                    <h1 style="color:#7732d5;margin-top:-25px;">&darr;</h1>
                    <p style="color:silver;margin-top:-10px;">Physics(Lecturer)</p>
                    <h1 style=" color:#7732d5;margin-top:-25px;">&darr;</h1>
                </div>
                <a href="#"><buttom class="btn btn-success" style=" margin-top:-50px;margin-left:10px;">Join to View Profile</buttom></a>
            </div>
        </div>
        <div class="col-lg-1 col-md-3 col-sm-6 mt-5" style="min-width:300px;">
            <div class="card" style=" height:400px;">
                <div class="card-body text-center">
                    <img src="~/Content/image/User.jpg" style=" height:100px;width:100px;border-radius:50px;" />
                    <h5 style=" color:silver;margin-top:20px;">Mr. Aditya Kumar  </h5>
                    <p style=" color:silver;margin-top:10px;">Govt. Polytechnic Adampur Tarabaganj Gonda (2230)</p>
                    <h1 style="color:#7732d5;margin-top:-25px;">&darr;</h1>
                    <p style=" color:silver;margin-top:-10px;">WD & PHP(Lecturer)</p>

                    <h1 style=" color:#7732d5;margin-top:-25px;">&darr;</h1>
                </div>
                <a href="#"><buttom class="btn btn-success" style=" margin-top:-50px;margin-left:10px;">Join to View Profile</buttom></a>
            </div>
        </div>

    </div>








    <h2 style="color:darkgoldenrod;margin-left:120px;margin-top:30px;">&larr;prav&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Next &rarr;</h2>

</div>

<!--End Success Teacher-->
