
@{
    ViewBag.Title = "JoinProfile";
    Layout = "~/Views/Shared/general.cshtml";
}

<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-lg-2 col-md-2 col-sm-5 text-bg-light mt-5">
       <h1>Linked <b class="text-bg-secondary">in</b></h1>
        <div class="box" style="background:#a0b4b7;height:100px;width:600px;border-radius:15px;"></div>
        <div class="card" style=" height:400px;width:600px;">
            <div class="card-body">
                <img src="~/Content/image/divya_mam.jpeg" style="height:200px;width:200px;border-radius:100px;margin-top:-100px;margin-right:250px;" />
                <h3 style="margin-top: 20px;margin-left: 45px;">Divya Mam</h3>
                <h6 style="margin-top:10px;margin-left:45px;">Project Manager at Techpile Technology PVT. LTD. Lucknow |</h6>
                <h6 style="margin-top: -5px; margin-left: 45px;">M.Tech in Computer Science | Passionate for effective</h6>
                <h6 style="margin-top: -5px; margin-left: 45px;">teaching</h6>
                <h6 style="margin-top:0px auto;margin-left:45px;">Ghazipur, Utter Pradesh India</h6>
            </div>


        </div>

        <div class="col-sm-3"></div>
    </div>
</div>
