
@{
    ViewBag.Title = "JoinProfileKa";
    Layout = "~/Views/Shared/general.cshtml";

}
<style>
    h4 {
        font-size:18px;
        color: black;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
    }

    .social-link a {
        display: inline-block;
        height: 40px;
        width: 40px;
        background: rgba(255, 255, 255, 0.2);
        margin: 0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color:navy;
        transition: all 0.5s ease;
    }

    .social-link a :hover {
        color:navy;
        background:red;
    }
</style>


@*<h2>JoinProfileKa</h2>*@
<div class="row p-5">
    <h1 style="margin-left:150px;">Linklind In</h1>
    <div class="col-sm-4 card">

        <img src="~/Content/image/thar2.jpg" style="height:200px;width:200px;border-radius:100%;" />
        <h3>Khurshed Alam</h3>
        <p style="color:silver;">Govt. Polytechnic Adampur tarabaganj Gonda (2230)</p>
        <p style="color:silver;">teaching</p>
        <p>Gonda - Utter Pradesh</p>
       
        <h4>Follow us</h4>
        <div class="social-link">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>


        </div>

    </div>
    <div class="col-sm-7 card text-center ms-4">

    </div>
</div>





