
@{
    ViewBag.Title = "SingIn";
    Layout = "~/Views/Shared/general.cshtml";
}
<div class="row">
    <div class="col-sm-10 mx-auto my-5">
        <div class="row">
            <h2 class="text-center pt-2">YOUR<b class="text-warning"> FEEDBACK</b></h2>
            <div class="col-sm-5">
                <img src="~/Content/image/study1.jpg" class="mt-4" style="height:390px;width:500px;" />
            </div>
            <div class="col-sm-5 ms-5">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        <h4 class=" mt-3">YOUR <b text-warning>FEEDBACK</b></h4>
                        <label>Name</label>
                        <input type="text" required class="form-control mt-2" name="name" placeholder="your name" aria-label=" name">
                        <label> Your's image</label>
                        <input type="file" required class="form-control mt-2" name="imagefile" aria-label="file">
                        <label>college name</label>
                        <input type="text" required class="form-control mt-2" name="college" placeholder="college name" aria-label="college">
                        <label>Message</label>
                        <textarea required name="message"class="form-control mt-2"></textarea>
                        <input type="submit" value="SEND FEEDBACK" class="btn btn-outline-warning mt-3">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>